<h1 class="centered one-half column">Notes - login</h1>
<section>
  <form class="one-half column centered" (ngSubmit)="f.form.valid" #f="ngForm">
    <dl class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
      <dt><label>UserName</label></dt>
      <dd>
        <input class="form-control" type="text" value="" name="username" [(ngModel)]="model.username" required>
        <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
      </dd>
    </dl>

    <dl class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <dt><label>Password</label></dt>
      <dd>
        <input class="form-control" #password type="text" value="" name="password" [(ngModel)]="model.password">            
        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
      </dd>
    </dl>
    <button class="btn" type="button" (click)="loginClicked($event)">login</button>
  </form>
</section>
