<header class="header">
  <h1>todos</h1>
  <div class="logout" (click)="handleClick()">logout</div>
  <caravan-todo-text-input
    [newTodo]="true"
    (onSave)="handleSave($event)"
    [placeholder]="'What needs to be done?'"
  ></caravan-todo-text-input>
</header>
