<section class="main">
  <input *ngIf="(todos | async)?.length"
    class="toggle-all"
    type="checkbox"
    [checked]="(completedCount | async) === (todos | async)?.length"
    />
  <ul class="todo-list">
    <template ngFor let-todo [ngForOf]="(filteredTodos | async)">
      <caravan-todo-item
        [todo]="todo"
        (onDestroy)="handleDestroy($event)"
        (onSave)="handleSave($event)"
      ></caravan-todo-item>
    </template>
  </ul>
</section>
