<li [ngClass]="{'editing': editing}">
  <caravan-todo-text-input
    *ngIf="editing"
    [title]="todo?.title"
    [editing]="editing"
    (onSave)="handleSave($event)"
    ></caravan-todo-text-input>
  <div class="view" *ngIf="!editing">
    <label (dblclick)="handleDoubleClick()">{{todo?.title}}</label>
    <button class="destroy" (click)="handleClick()"></button>
  </div>
</li>
